/* CORPO DO PERFIL */
.div-infos {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.div-infos .div-cards {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.div-cards .spn-label {
  font-size: 1rem;
}

.nome-empresa {
  font-size: 3rem;
}

.email-empresa {
  font-size: 1.7rem;
}

.linhas-empresa {
  font-size: 1.3rem;
}

.linhas-empresa,
.email-empresa,
.nome-empresa {
  font-weight: 900;
}

.container-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}

.editar_icon {
  cursor: pointer;
}

.fundo-modal {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #00000050;
  display: none;
  justify-content: center;
  align-items: center;
}

.div-modal {
  background: #ffffff;
  height: 75%;
  width: 40%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 1rem;
}

.div-modal .header-modal {
  height: 15%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-modal .header-modal button {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
}

.div-modal .body-modal {
  height: 70%;
  width: 70%;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body-modal .div-sup-modal {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  gap: 0.5rem;
}

.div-sup-modal span {
  font-size: 1.2rem;
}

.div_btn_gravar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.btn_gravar {
  cursor: pointer;
  text-decoration: none;
  background: rgb(254, 80, 0);
  background: linear-gradient(
    90deg,
    rgba(254, 80, 0, 1) 40%,
    rgba(255, 131, 74, 1) 100%
  );
  width: 80%;
  height: 40px;
  border-radius: 50px;
  border: none;
  box-shadow: #00000015 2px 3px 3px 0px;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
}
