.div-linha {
    display: flex;
    flex-direction: column;

}

.linha-titulo {
    display: flex;
    align-items: center;   
    gap: 25px;
    padding: 15px 0;
}

.linha-titulo .pencil-icon {
    height: 2rem;
    width: 2rem;
    border: solid 2px #fe5000;
    color: #fe5000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.div-row-onibus {
    padding: 15px 0;
    display: flex;
    gap: 25px;
}

.div-onibus {
    height: 170px;
    width: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #00000050;
    box-shadow: 0px 0px 10px #00000020;
    position: relative;
    /* cursor: pointer; */
}

.div-img {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.div-title-onibus {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_adicionar {
    display: none;
    justify-content: center;
    align-items: center;
    border: dashed 1px #00000050;
}

.add-icon {
    height: 4rem;
    width: 4rem;
    border: dashed 3px #000000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
    font-size: 2rem;
    cursor: pointer;
}

.div-delete {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: red;
    background-color: #00000050;
    border-radius: 7px;
    cursor: pointer;
}

.fundo-modal {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #00000050;
    display: none;
    justify-content: center;
    align-items: center;
}

.div-modal {
    background: #ffffff;
    height: 65%;
    width: 65%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.div-modal .header-modal {
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-modal .header-modal button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    height: 1.2rem;
    width: 1.2rem;
}

.div-modal .body-modal {
    height: 70%;
    width: 95%;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.div-modal .footer-modal {
    height: 15%;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.div-modal .footer-modal button {
    height: 40px;
    width: 20%;
    border-radius: 50px;
    border: none;
    font-weight: bolder;
    background: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div-modal .footer-modal .btn-cancelar {
    border: dashed 2px #00000050;
    color: #00000090;
}

.div-modal .footer-modal .btn-add {
    background-color: #fe5000;
    color: #fff;
}

.div-area-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.div-select-onibus {
    background-color: #FBFBFB;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000020;
    display: flex;
    gap: 1rem;
    border: solid 1px #00000050;
    cursor: pointer;
}

.div-info-onibus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 2rem;
    height: 100%;
}